<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head') %>
</head>

<body>
    <header class="header shop">
        <%- include('./Barsup') %>
            <main class="">
                <div class="container wow fadeIn animated">
                    <h2 class="mt-5 mb-3 h2 text-center"> Productos en mi carrito</h2>
                    <div class="card my-5">
                        <div class="card-body">
                            <table class="table table-responsive-md mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">
                                            <strong>#</strong>
                                        </th>
                                        <th class="th-lg">
                                            <strong>Producto</strong>
                                        </th>
                                        <th class="th-lg ">
                                            <strong>Precio</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Cantidad</strong>
                                        </th>
                                        <th class="text-center">
                                            <strong>Subtotal</strong>
                                        </th>
                                        <th style="width: 50px;"></th>
                                    </tr>
                                </thead>
                                <tbody class="cartRows">

                                </tbody>
                            </table>
                            <div class="card-footer text-right">
                                <h2>Total: <span class="totalAmount">$ 0</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center">
                            Terminar la compra
                        </div>
                        <form class="card-body" id="checkoutCart">
                            <div class="row">
                                <div class=" col-md-6 mb-4">
                                    <label for="country">Tipo Envio</label>
                                    <select class="custom-select w-100" id="shippingMethod" name=" shippingMethod"
                                        required="">
                                        <option selected>Elegir...</option>
                                        <option value="Cadete">Cadete</option>
                                        <option value="Correo">Correo </option>
                                        <option value="DHL">DHL</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Elija un tipo de envio.
                                    </div>
                                </div>

                                <div class=" col-md-6 mb-4">
                                    <label for="country">Pago</label>
                                    <select class="custom-select w-100" id="paymentMethod" name="paymentMethod"
                                        required="" >
                                        <option selected>Elegir...</option>
                                        <option value="Efectivo">Efectivo</option>
                                        <option value="Débito">Tarjeta Débito</option>
                                        <option value="Crédito">Tarjeta Crédito</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Elija un tipo de Pago.
                                    </div>

                                </div>


                            </div>
                            <div class="card-header text-center">
                                Datos de Envio
                            </div>
                            <div>
                                <div class="row">                                    
                                    <div class="col-md-6 mb-4">
                                        <label for="exampleInputEmail1" class="form">Direccion</label>
                                        <input type="text" id="Direccion" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label for="exampleInputEmail1"> Pais </label>
                                        <input type="text"id="Pais" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <label for="exampleInputEmail1" class="form">Departamento</label>
                                        <input type="text" id="Departamento"class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label for="exampleInputEmail1"> Ciudad </label>
                                        <input type="text" id="Ciudad"class="form-control">
                                    </div>
                                </div>
                                <div class="row">                                 
                                    <div class="col-md-6 mb-4">
                                        <label for="exampleInputEmail1"> Codigo-Postal </label>
                                        <input type="text" id="CoP" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block waves-effect waves-light"
                                type="submit">Comprar</button>
                        </form>
                    </div>
                    <li class="btn btn-primary"><a href="/">Volver</a></li>
                </div>
            </main>
    </header>
    <%- include('./scripts') %>
        <script src="/js/cart.js"></script>
</body>

</html>